#meny{
    height: 100%;
    justify-self: center;
    display: grid;
    grid-template-columns:repeat(8, 12.5%);
    grid-template-rows: 50% 20%;
    justify-items: center;
    align-items: center;
}
.tabs, a:link, a:visited{
    text-decoration: none;
    display: flex;
  justify-content: center;
color: rgba(255, 255, 255, 0.78);
text-shadow: 1px 1px rgb(0 0 0 / 31%);
}


#logo{
    display: flex;
    justify-content: center;
    width: 100%;
border-bottom: 2px solid white;

grid-row: 1;
grid-column: 1/9;

}