html{
    height: 100%;
}
body{
background-image: url(/bilder/blue-background.png);
background-size: cover;
background-repeat: repeat-y;
height: 100%;
}

.recept{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, calc(96%/3));
    grid-auto-rows: calc(96%/3);
    gap: 2%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}