html{
    height: 100%;
}
body{
background-image: url(https://lh3.googleusercontent.com/fife/AAbDypAobrYJDjgTkI8B9aDJ1eVE6gYo35giD59Oj8DsXT_6UA_OXG167N8GFrcoPLVLNmCNxYgyqCtsgoLMaHYcFmG-9p8U2LN7psLgv-tR0AaloHa9WcaD7_b_0vppXT-Gd2gW-5kZeb4iSvG73CMoK2p0GrC6GTzJrVL1R7PJbsignbqtBK9Tn0-BE4vxWHxEbF7p9fGAuqdAS9mNBj8S3UyUy8WMIZnuVWhMUYu-qO_FoFPECDfFHX7R4KmzCHafvMkEDa2uoBywY2Q9wyflMmgGSXmZRdWyC5krDp4oRuIF1B6RIgC7_vAeQFCH1p3I-aDlvWVU9Srd_VDvt_SCoN3zoLicDKTdRYPofzjRbPyMogOlBgRv3rZ7QBx3yYjFNph-TWdtbUg4VM9He-McFZ56rewtjU7NYKVN3nHZpPkxZvoQtSItUymXWdVSHBH34p9q-dD__NfPtQp32qeWrUM9WHI_l85aONPTyGEO_pB3xapy-E4sJ6XbqhWwo0CmPsFgDwkhzYMvjejFOpHTVrd5EZTcTElbOlbw475ue5s75l6gsFO8K5tMDJPPnm3hYv2rbR9XodHZJyGm5R___mgb-gZTtgfHGq-0jMtsJvBLLeuX_kEfIxAHQ6PBXj_GnzKhJLz65-0otkVrEg2-nUMnhXliqWZ3WEnkaFwqvozL5hACZf4NYsquFtDzzFxMkq-C3Xq5wUJgiywzrH59_bnzpNfPH9KoO8rE_YpupF0Dhv8RiK7kBrRDl1kIhBPT5vhr0Y3UKdsGvspq7fqhqbgLnbJ0ISTiC3VJyoTe5BVT72_tx7bG6Xv36GvJ1bSQ7yzVdAlDuKRNp0uV9xRWT6djYm1rcHRFWDW7VoaLzSMkWhPTa3VH10HZVkmLcyi2G3Oi58gmAVpGJ0yoE2RO9YWvPDyU-BySM_wdltUyeu5OLD9trYLkaeMCqzNhxxfA5T4pecaJy3rejXuD9ZSMmYh6tVOkRWtH9ResGCj3MXY=w3024-h1742);
background-size: cover;
background-repeat: repeat-y;
height: 100%;
}

.recept{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, calc(96%/3));
    grid-auto-rows: calc(96%/3);
    gap: 2%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
